<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
	<div class="text-center">
		<h3>Thank You!</h3>
		<br />
		<img src="~/img/order.jpg" width="400" height="400" />
	</div>
	<div class="text-center">
		<br />
		<h2>Your order has been successfully placed</h2>
	</div>
</div>
